.App {
  text-align: center;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.middle {
  margin: 0 20px;
}
.mt-20 {
  margin-top: 20px;
}
@media only screen and (max-width: 900px) {
  .container {
    display: block;
  }
  .middle {
    margin: 0;
  }
  .container .card {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}
